{{!-- {{> navbar}} --}}
 <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ result.blog_title }}</h1>
              <span class="meta">Posted by
                <a href="#">{{ result.author_name }}</a>
                {{!-- on {{ post.createdAt.toDateString() }} --}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
 
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ result.content }}
          </div>
        </div>
      </div>
    </article>
 
    <hr>
    {{> footer}}